@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
html {
  font-family: "Comfortaa", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  text-decoration: none;
  display: block;
}

/* bg-color */
body {
  background: linear-gradient(
    0deg,
    rgba(161, 155, 155, 1) 25%,
    rgba(112, 112, 112, 1) 75%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

/* header style */
.main-title {
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
/* container con 2 wrapp per lampadina e botone */
.container {
  padding: 3rem 0.5rem;
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;*/
}

/* btn style */
.btn-wrapper {
  flex-basis: 40%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1.35rem;
  color: aliceblue;
  font-size: 1.1rem;
  background-color: rgb(55, 60, 140);
  border-radius: 999px;
  border: 1px solid black;
}

.x-15 {
  transform: translateX(-15%);
}

/* !classe gestita con js per mostrare e nascondere lampadina accesa o spenta */

.hidden {
  display: none;
}
