* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  text-decoration: none;
  display: block;
}

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
}

/* btn style */
.btn-wrapper {
  flex-basis: 40%;
}
.btn {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1.35rem;
  color: aliceblue;
  font-size: 1.1rem;
  background-color: rgb(55, 60, 140);
  border-radius: 999px;
  border: 1px solid black;
}

.x-15 {
  transform: translateX(-15%);
}
/* !classe gestita con js per mostrare e nascondere lampadina accesa o spenta */

.hidden {
  display: none;
}
